@charset "UTF-8";
/* テキストの自動拡大を無効化 */
body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

/* ページ全体の設定 */
body {
    margin: 0;
    font-family: sans-serif;
}

/* 「ヘッダー」ブロック */
header {
    padding: 25px 15px;
    color: #f172a3;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

/* リンク */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

/* ナビゲーションメニュー */
nav ul {
    list-style-type: none;
    padding: 0;
    color: #666666;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

nav li:not(:last-child) {
    margin-right: 30px;
}

/* 「フッター」ブロック */
footer {
    background-color: #f6adc6;
    padding: 25px 15px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

/* トップページ：ヒーローイメージ */
.hero {
    background-image: url(img/top.jpg);
    background-size: cover;
    background-position: center;
    height: 532px;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 48px;
    text-shadow: 0 0 10px #444444;
    text-align: center;
}

.hero p {
    font-weight: bold;
    text-shadow: 0 0 10px #444444;
    margin: 0;
}

/* 紹介ページ */
.container article {
    background-color: beige;
    width: 60%;
    height: 200px;
    position: relative;
    padding-top: 100px;
    box-sizing: border-box;
    margin-top: 20px;
}

.container :nth-child(even) {
    margin-right: 0px;
}

.container article h1 {
    margin: 0px;
    font-size: 48px;
    color: grey;
    position: absolute;
    top: -36px;
}

.container article p {
    text-align: center;
    margin: 0px;
}

/* ====PC版==== */
@media (min-width: 600px) {
    /* 「ヘッダー」ブロック */
    header {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ナビゲーションメニュー */
    nav ul {
        margin: 0px;
        font-size: 20px;
    }

    /* トップページ：ヒーローイメージ */
    .hero h1 {
        font-size: 72px;
    }
    .hero p {
        font-size: 30px;
    }
}

/* ====PC版(大)==== */
@media (min-width: 1025px) {
    /* 「ヘッダー」ブロック */
    header {
        max-width: 1100px;
    }
}