<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="top.html">オンラインテント列</a>
            
        <nav>
            <ul>
                <li><a href="#search">検索</a></li>
                <li><a href="#calender">カレンダー</a></li>
                <li><a href="register.html">登録</a></li>
            </ul>
        </nav>
    </header>
    <main class="intro">
        <section class="container">
            <h1>{{ name }}</h1>
        </section>
    ​
        <section class="container">
            <article>
                <h1>活動ジャンル</h1>
            
                <p>{{ genre }}</p>
            </article>
            
            <article>
                <h1>活動場所</h1>
            
                <p>{{ space }}</p>
            </article>
    ​
            <article>
                <h1>構成大学</h1>
            
                <p>{{ univ }}</p>
            </article>
    ​
            <article>
                <h1>サークル紹介</h1>
            
                <p>{{ intro }}</p>
            </article>
    ​
            <article>
                <h1>キーワード</h1>
            
                <p>{{ key }}</p>
            </article>
    ​
            <article>
                <h1>連絡先</h1>
            
                <ol>
                    <li>LINEid:{{ lineId }}</li>
                    <li>webサイト:{{ webSite }}</li>
                    <li>Twitter:{{ twitterId }}</li>
                    <li>Instagram:{{ instagramId }}</li>
                    <li>mail:{{ mailAddress }}</li>
                    <li>その他:{{ otherWays }}</li>
                </ol>
            </article>
        </section>
    </main>
    <footer>
        お問い合わせ先：torimomo@gmail.com
    </footer>
</body>
</html>