<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
<!--    
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicon.ico"/>
-->
</head>
<body>
    <h1>{{ name }}</h1>
    <p>活動ジャンル：{{ genre }}</p>
    <p>活動場所：{{ space }}</p>
    <p>構成大学：{{ univ }}</p>
    <p>サークル紹介：{{ intro }}</p>
    <img src="" alt="紹介画像">
    <p>キーワード：{{ key }}</p>
    <p>アクセス</p>
    <ol>
        <li>LINEid:{{ lineId }}</li>
        <li>webサイト:{{ webSite }}</li>
        <li>Twitter:{{ twitterId }}</li>
        <li>Instagram:{{ instagramId }}</li>
        <li>mail:{{ mailAddress }}</li>
        <li>その他:{{ otherWays }}</li>
    </ol>
</body>
</html>