<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>オンラインテント列</title>
    <link rel="stylesheet" href="static/css/style.css">
	<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
	<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
	<script>

		$(document).ready(function () {

			$('#calendar').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				defaultDate: '2020-12-01',
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: {
					url: 'data',
					error: function () {
						$('#script-warning').show();
					}
				},
				loading: function (bool) {
					$('#loading').toggle(bool);
				}
			});

		});
	</script>
</head>
<style>
    #script-warning {
    	display: none;
    	background: #eee;
    	border-bottom: 1px solid #ddd;
    	padding: 0 10px;
    	line-height: 40px;
    	text-align: center;
    	font-weight: bold;
    	font-size: 12px;
    	color: red;
    }

    #loading {
    	display: none;
    	position: absolute;
    	top: 10px;
    	right: 10px;
    }

    #calendar {
    	max-width: 900px;
    	margin: 40px auto;
    	padding: 0 10px;
    }
</style>
<body>
    <header>
        <a href="top.html">オンラインテント列</a>
            
        <nav>
            <ul>
                <li><a href="#search">検索</a></li>
                <li><a href="#calender">カレンダー</a></li>
                <li><a href="register.html">登録</a></li>
            </ul>
        </nav>
    </header>
​
    <main>
        <section class="hero">
            <h1>オンラインテント列へようこそ！</h1>
        
            <p id="search">何に興味がありますか？</p>
        
            <form method="POST" action="/">
                {{ form.csrf_token }}
                {{ form.name.label }} {{ form.name }}
                <input type="submit" value="Go">
            </form>
        </section>
​
        <div id='script-warning'>
            Error getting data from <code>/data</code> endpoint.
        </div>

        <div id='loading'>loading...</div>

        <div id='calendar'></div>
    </main>
​
    <footer>
        お問い合わせ先：torimomo@gmail.com
    </footer>
</body>
</html>